#ytpb-info-container {
    pointer-events: none;    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999999999;
}

#ytpb-info {
    margin: 0 auto;
    position: relative;
    left: -100px;
    top: -100px;    
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background: rgba(0,0,0,.8);    
    opacity: 0;
}

#ytpb-text {
    margin: 0 auto;
    line-height: 200px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62px;
    color: #fff;
}

.grow {
    animation: grow .5s ease-out;
}

@keyframes grow {
    0% {
        opacity: 1;
        transform: scale(1);
    } 

    100% {
        opacity: 0;
        transform: scale(2);
    }
}